@import "../vars";

@media (min-width: $lg) {
  .aboutContainer {
    flex-direction: row;
  }
  .aboutImage {
    width: calc(50% - 30px);
    margin: 0 15px;
  }
  .aboutContent {
    width: 50%;
    font-size: 28px;
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .aboutContainer {
    flex-direction: row;
  }
  .aboutImage {
    width: calc(50% - 30px);
    margin: 0 15px;
  }
  .aboutContent {
    width: 50%;
    font-size: 24px;
  }
}

@media (max-width: $md) {
  .aboutContainer {
    flex-direction: column;
  }
  .aboutImage {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
  .aboutContent {
    width: calc(100% - 20px);
    margin: 0 10px;
    font-size: 20px;
  }
}

.aboutContainer {
  display: flex;
}
.aboutImage {
  img {
    width: 100%;
    height: auto;
  }
}
.aboutContent {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
}

.aboutLink {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  :nth-child(2) {
    padding: 35px 0 0 20px;
  }
  img {
    width: 100px;
    height: auto;
    border: 5px solid #FFFFFF;
    &:hover {
      border: 5px solid $purple;
    }
  }
  a {
    color: $blue;
    &:hover {
      color: $purple;
    }
  }
}
