@import "../vars";

@media (min-width: $lg) {
  .categoryContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .categoryBox {
    width: 300px;
    height: 180px;
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .categoryContainer {
    flex-direction: row;
    flex-wrap: wrap;

  }
  .categoryBox {
    width: 360px;
    height: 200px;
  }
}

@media (max-width: $md) {
  .categoryContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .categoryBox {
    width: 400px;
    height: 220px;
  }
}

.categoryContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.categoryBox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 5px solid #999999;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  margin: 0 20px 20px 0;
  text-align: center;

  &:hover {
    border: 5px solid #FFFFFF;
  }
}
