.carouselContainer {
  width: 100%;
  margin-left: 0%;
}
.liveNotification {
  position: relative;
  top: - 60px;
  height: 40px;
  width: 60%;
  margin-left: 20%;
  background-color: #26b8db;
  padding-top: 8px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height:22px;
  color: #ffffff;
}




