@import "../vars";

@media (min-width: $lg) {
  .projectDetailsContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .projectCoverImage {
    width: 50%;
  }
  .projectDescription {
    width: calc(50% - 40px);
    margin-left: 40px;
  }
  .imageMediaContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0 0;
    div {
      width: 49%;
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .projectDetailsContainer {
    flex-direction: column;
    justify-content: center;
  }
  .projectCoverImage {
    width: 100%;
  }

  .projectDescription {
    width: 100%;
    margin-left: 0;
  }

  .imageMediaContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0 0 0;
    div {
      width: 100%;
    }
  }
}

@media (max-width: $md) {
  .projectDetailsContainer {
    flex-direction: column;
    justify-content: center;
  }
  .projectCoverImage {
    width: 100%;
  }

  .projectDescription {
    width: 100%;
    margin-left: 0;
  }
  .imageMediaContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0 0 0;
    div {
      width: 100%;
    }
  }
}

.mainProjectContainer {
  padding: 0 15px;
}
.projectTitle {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: $blue;
}
.projectHeader {
  display: flex;
  flex-direction: row;
}
.projectSubtitle {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: $blue;

  a {
    text-decoration: none;
    color: $blue;
    &:hover {
      color: $purple;
    }
  }
}
.projectSubtitleWebsite {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: $blue;
  margin: 0;

  a {
    text-decoration: none;
    color: $purple;
    &:hover {
      color: $blue;
    }
  }
}

.projectCreators {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  a {
    text-decoration: none;
    color: $blue;
    &:hover {
      color: $purple;
    }
  }
}

.projectDetailsContainer {
  display: flex;
  margin: 20px 0 0 0;
}
.projectCoverImage {
  img {
    width: 100%;
    height: auto;
  }
}

.projectDescription {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  margin: 0 0 40px 0;
  a {
    color: $blue;
    &:hover {
      color: $purple;
    }
  }
}
.moreDocumentation {
  a {
    color: $blue;
    &:hover {
      color: $purple;
    }
  }
}
.projectTech {
  margin: 40px 0 0 0;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: $blue;
  :nth-child(1) {
    font-weight: 500;
  }
  :nth-child(2) {
    font-weight: 300;
  }
}

.instagramLink {
  font-size: 24px;
  padding: 4px 0 0 10px;
  a {
    color: $blue;
    &:hover {
      color: $purple;
    }
  }
}

.mediaComponents {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: $blue;
  margin: 40px 0 30px 0;
}

.soundcloudLink {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  margin: 40px 0 30px 0;
  a {
    text-decoration: none;
    color: $blue;
    &:hover {
      color: $purple;
    }
  }
}
.projectVideoContainer {
  margin: 20px auto;
  text-align: center;
}
.imageMediaContainer {
  display: flex;
  img {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
  }
}
