.liveEvents {
  margin: 20px 0 40px;
}

.liveElementBlock {
  width: 440px;
  img {
    width: 100%
  }
}
.liveEventsContainer {
  width: 988px;
  margin: 0 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.liveElementTitle {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height:22px;
  color: #ffffff;
  text-align: center;
  background-color: #26b8db;
  padding: 20px 10px;
}
.liveElementImage {
  width: 440px;
  height: 440px;
  overflow: hidden;
}
