.header {
  width: 100%;
  background-color: #26b8db;
  display: flex;
  flex-direction: row;
  a {
    text-decoration: none;
  }

}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  padding: 10px;
  img {
    height: 120px ;
    width: auto;
  }
}

.socialIcons {
  margin-left: 40px;
}

.content {
  margin: 40px 0 60px;
}

.welcomePopup {
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  top:0;
  bottom:0;
  left:0;
  right: 0;
  animation: .5s ease-out pulse;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.popupBody {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  background: rgb(2,0,36);
  background: linear-gradient(rgba(17,102,102,1) 0%, rgba(22,106,128,1) 100%);
  border-radius: 20px;
  padding: 50px 30px;
  border: 5px solid #FFFFFF;


}


.popupTitle {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;

}
.popupContent {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
}
.dontShowAgain {
  cursor: pointer;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-align: right;
}
