@import "../vars";

@media (min-width: $lg) {
  .headerContainer {
    justify-content: space-between;
  }
  .headerMenuItem {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 4px;
    margin-bottom: 40px;
    text-transform: uppercase;
    &:hover {
      a {
        color: $purple;
      }
    }
  }
  .mobileMenu {
    display: none;
  }
  .logo {
    font-size: 22px;
    img {
      height: 120px;
      width: auto;
    }
  }

  .footerContainer {
    width: 100%;
  }
  .tandonLogoContainer {
    img {
      width: 250px;
      height: auto;
    }
  }
  .socialIcons {
    margin-left: 40px;
    font-size: 40px;
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .headerContainer {
    justify-content: space-between;
  }
  .headerMenuItem {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 4px;
    margin-bottom: 40px;
    text-transform: uppercase;
    &:hover {
      a {
        color: $purple;
      }
    }
  }
  .mobileMenu {
    display: none;
  }
  .logo {
    font-size: 18px;
    img {
      height: 100px;
      width: auto;
    }
  }

  .footerContainer {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .tandonLogoContainer {
    img {
      width: 250px;
      height: auto;
    }
  }
  .socialIcons {
    margin-left: 40px;
    font-size: 40px;
  }
}

@media (max-width: $md) {
  .headerContainer {
    justify-content: left;
  }
  .headerMenuItem {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
  .logo {
    font-size: 14px;
    img {
      height: 80px;
      width: auto;
    }
  }
  .footerContainer {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
  .tandonLogoContainer {
    img {
      width: 180px;
      height: auto;
    }
  }
  .socialIcons {
    margin-left: 30px;
    font-size: 30px;
  }
}
.bodyBlue {
  background-color: $blue;
}
.bodyBlack {
  background-color: #000000;
}

.blueText {
  color: $blue;

  a {
    color: $blue;
  }
}
.blackText {
  color: #000000;

  a {
    color: #000000;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  a {
    text-decoration: none;
  }
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $lg;
}
.mobileMenu {
  padding: 10px;
}
.mobileMenuIcon {
  font-size: 40px;
}
.logo {
  padding: 10px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.mobileMenuDrawer {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  padding: 40px 60px;
}
.headerMenuItemMobile {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 4px;
  margin-bottom: 40px;
  text-transform: uppercase;
  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: $purple;
    }
  }
}

.content {
  margin: 40px 0 60px;
  min-height: calc(100vh - 345px);
}

.footer {
  width: 100%;
  height: 60px;
  background-color: $blue;
}

.footerContainer {
  max-width: $lg;
  margin: 0 auto;
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialIconsContainer {
  a {
    color: #000000;

    &:hover {
      color: $purple;
    }
  }
}



.welcomePopup {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: 0.5s ease-out pulse;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popupBody {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    rgba(17, 102, 102, 1) 0%,
    rgba(22, 106, 128, 1) 100%
  );
  border-radius: 20px;
  padding: 50px 30px;
  border: 5px solid #ffffff;
}

.popupTitle {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}
.popupContent {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
}
.dontShowAgain {
  cursor: pointer;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-align: right;
}
